.c-LSD {
    display: flex;
    .c-LSD_info {
        width: 50%;
        height: 100%;
        align-self: center;
        padding: 2em;
        box-sizing: border-box;
    }
}

#LSD {
    position: relative;
    right: 0;
    width: 50%;
    height: 100%;
    display: flex;
}

#Glass, #GlassCapsule, #Zero, #One, #Two, #Three, #Four, #Five, #Six, #Seven {
    visibility: hidden;
}

#LSDCapsule:hover {
    cursor: pointer;
}