.c-Hypnosis {
    display: flex;
    .c-Hypnosis_info {
        width: 50%;
        height: 100%;
        align-self: center;
        padding: 1em;
        box-sizing: border-box;
    }
}

#Hypnosis {
    position: relative;
    right: 0;
    width: 50%;
    height: 100%;
    display: flex;
}

#InnerSpiral, #Spiral {
    visibility: hidden;
  }
  
  #Eye {
    cursor: pointer;
  }