.c-radio {
    display: flex;
    .c-radio_info {
        width: 50%;
        height: 100%;
        align-self: center;
        padding: 1em;
        box-sizing: border-box;
    }
}

#Radiological {
    position: relative;
    right: 0;
    width: 50%;
    height: 100%;
    display: flex;
}

#NFSwitch:hover {
cursor: pointer;
}